<li>
  <div class = "row">
    <div class = "col-md-2">
      <%= image_tag(message.sender_show_avatar(:thumb)) %>
    </div>
    <div id = "<%= message.id %>" class="col-md-8">
      <script type="text/javascript">render_preview("<%= js_message_text(message.text) %>", "<%= message.id %>") </script>
      <span id="<%= message.id %>message"></span>
    </div>
    <div class="col-md-2">
      <p>
        <%= message_time(message.created_at) %>
      </p>
    </div>
  </div>
</li>