<div class="user_list_block">
  <% if current_user.friend?(user) %>
      <%= link_to 'Remove', current_user.relationships.find_by(friend_id: user.id),
                  method: :delete, data: { confirm: "Really remove #{user.login} from friends?" },
                  class: 'btn btn-danger user_list_link' %>

      <% if current_user.friends.include?(user) %>
          <%= form_for(current_user.conversations.build(recipient_id: user.id)) do |f| %>
              <%= f.hidden_field :recipient_id %>
              <%= f.submit 'Send message', class: 'btn btn-default user_list_link' %>
          <% end %>

      <% elsif @show_accept_block %>
        <%= form_for(current_user.relationships.find_by(friend_id: user.id)) do |f| %>
            <%= f.submit 'Accept', class: 'btn btn-info list_button' %>
        <% end %>
      <% end %>

  <% else %>
      <%= form_for(current_user.relationships.build(friend_id: user.id)) do |f| %>
          <%= f.hidden_field :friend_id %>
          <%= f.submit 'Add to a friends', class: 'btn btn-default' %>
      <% end %>
  <% end %>
</div>