<% provide(:title, 'Friends') %>
<div class = "row">
  <%= render 'user_sidebar' %>
  <div class="col-md-9">
    <h1>Friends</h1>
    <div class = "row">
      <nav class="navbar navbar-light friend_type_panel">
        <ul class="nav navbar-nav">
          <li>
              <%= link_to 'Accepted Friends', friends_user_path(status: 'accepted') %>
          </li>
          <li>
            <%= link_to 'Pending acceptance', friends_user_path(status: 'pending') %>
          </li>
          <li>
            <%= link_to 'Requested friendship', friends_user_path(status: 'requested') %>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="users">
      <%= render @users %>
    </ul>
  </div>
</div>