<header class="navbar  navbar-static-top navbar-default">
    <div class="container">
        <% if signed_in? %>

          <div class="navbar-header">
            <%= link_to "Some_Chat", current_user , id: 'logo' %>
          </div>
          <ul class="nav pull-right navbar-nav">

            <li class=<%= active_class(user_path(current_user)) %>>
              <%= link_to "Home", current_user %></li>

            <li class=<%= active_class(users_path) %>>
              <%= link_to "Users", users_path %></li>

            <li class=<%= active_class(help_path) %>>
              <%= link_to "Help", help_path %></li>

            <li><%= link_to "Sign out", signout_path, method: :delete %></li>
          </ul>

        <% else %>

          <div class="navbar-header">
              <%= link_to "Some_Chat", root_path , id: 'logo' %>
          </div>
            <ul class="nav pull-right navbar-nav">
              <li class=<%= active_class(signin_path) %>>
                <%= link_to "Sign in", root_path %></li>

              <li class=<%=  active_class(help_path) %>>
                <%= link_to "Help", help_path %></li>
            </ul>

        <% end %>
  </div>
</header>