<div class="row">
  <div class="search-input">
    <% if @messages.present? %>
      <%= form_tag socket_message_route(@messages.last), :method => 'get' do %>
        <div class="col-md-10">
          <%= text_field_tag :search, params[:search], class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= submit_tag "Search", class: "btn btn-info" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row text-center">
  <%= link_to "Show Previous",  "?m=all" %>
</div>
<div class = "row">
  <div class="message_overflow">
    <ul class="messages">
      <% if @messages.empty? %>
          <p>No messages yet</p>
      <% else %>
          <%= render @messages %>
      <% end %>
    </ul>
  </div>
</div>